.header {
  text-align: center;
  height: 60px;
  //border-bottom: 1px solid #ced4da;
  box-shadow: 1px 1px 2px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  &-title {
    font-size: 2rem;
  }
}
