.header {
  text-align: center;
  height: 60px;
  box-shadow: 1px 1px 2px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  &-button {
    padding: 0 6px;
  }
  &-logo {
    width: 140px;
  }
}
