.movie {
  background-color: #fff;
  box-shadow: 1px 1px 10px #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 300px;
  display: grid;
  grid-template-rows: max-content 1fr;
  margin: 18px auto;
  text-align: center;
  position: relative;
}
.info-wrapper {
  padding: 18px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.name {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: teal;
  border: 1px solid teal;
  margin-top: 6px;
  border-radius: 3px;
  background-color: teal;
  color: white;
  padding: 3px 0;
  grid-column: 1/3;
}
.date {
  font-size: 1rem;
  background-color: teal;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.rating {
  display: flex;
  justify-content: center;
  border: 1px solid teal;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: max-content;
  img {
    width: 40px;
    //margin-right: 9px;
  }
  span {
    background-color: teal;
    color: white;
    padding: 1px 6px;
    font-size: 15px;
  }
}

.poster-wrapper {
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease;
  max-width: 300px;
  &:hover {
    transform: scale(1.2);
  }
}

.fav-button {
  position: absolute;
  right: 16px;
  top: 23px;
  border-radius: 50% !important;
  padding: 5px !important;
}
.fav-icon {
  width: 20px;
}
