.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  max-width: 600px;
  margin: 30px auto;
  padding: 9px;
}
label {
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select {
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 12px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: white;
  overflow: hidden;
  height: 30px;
  margin-top: 8px;
}
select {
  height: 100%;
}

.button-search {
  grid-column: 2/3;
  margin-top: 18px;
}

.error {
  text-align: center;
  margin: 0 auto;
  background-color: tomato;
  width: max-content;
  padding: 9px;
  border-radius: 3px;
  color: azure;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    row-gap: 18px;
    padding: 0 30px;
    input,
    select,
    .button-search {
      grid-column: 1/2;
      height: 40px;
    }
  }
}
